$base-color: #fffaeb;
// $bg-main: #cb997e;
$bg-main: #fffaeb;
$bg-secondary: #080c09;

$main-font: "Montserrat", sans-serif;
// $secondary-font: "Alegreya", sans-serif;
$secondary-font: "Italiana", sans-serif;
