@use "variables" as v;

body {
  background-color: v.$bg-main;
}
.home-container {
  height: 100vh;
}

.section-right {
  .nav-link {
    list-style: none;
    text-align: left;
    a {
      text-decoration: none;
      font-family: v.$secondary-font;
      font-style: normal;
      text-transform: uppercase;
      color: #000000;
      font-weight: 600;
      font-size: 8vw;
      overflow: auto;
      width: 100%;
      box-shadow: inset 0 0 0 0 #000000;
      transition: font-style 0.1s ease-in-out, font-weight 0.1s ease-in-out,
        box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;

      &:hover {
        font-style: italic;
        font-weight: 400;
        color: #fffaeb;
        box-shadow: inset 1000px 0 0 0 #000000;
      }
    }
  }
}
