$breakpoint-tablet: 1024px;
$breakpoint-mobile: 860px;

@media (max-width: $breakpoint-tablet) {
  .home-section {
    flex-direction: column;

    .section-left {
      width: 100%;
      align-items: center;
      text-align: center;

      .description-container {
        max-width: 500px;
      }
    }
    .section-right {
      width: 100%;
      ul {
        padding-left: 0;
        list-style: none;
      }
      .nav-link {
        text-align: center;
      }
    }
  }

  .projects-header {
    width: 100%;
  }

  .about-content-section {
    width: 80%;
    text-align: center;
  }
}

@media (max-width: $breakpoint-mobile) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    // display: flex;
    flex-direction: column;
  }
  .sidebar {
    order: 2;
    position: relative;
    height: 6%;
    width: 100%;
    padding: 10px;

    .social-wrapper {
      flex-direction: row;
      margin-top: 0;
      gap: 25px;
      .social-link {
        display: inline-block;
        transform: rotate(0deg);
        // margin: 0 25px;
      }
    }

    .projects-wrapper {
      flex-direction: column;
      width: 100%;
      padding: 50px 5px;
    }
    // .social-link {
    //   display: inline-block;
    //   transform: rotate(0deg);
    //   margin: 0 25px;
    // }
  }

  .about-content-section {
    width: 100%;
    text-align: center;
  }
}
